OPENFY_ENV=dev
OPENFY_DATABASE_URL=sqlite:///./data/openfy.db
OPENFY_DATA_DIR=./data
OPENFY_MUSIC_DIR=./data/music
OPENFY_DOWNLOADS_DIR=./data/downloads
OPENFY_ARTWORK_DIR=./data/artwork
OPENFY_ALLOWED_ORIGINS=*
OPENFY_ONTHESPOT_CMD=onthespot-cli
OPENFY_ONTHESPOT_CONFIG_DIR=./data/onthespot
OPENFY_DOWNLOADER=auto
OPENFY_VOTIFY_CMD=votify
OPENFY_VOTIFY_CONFIG_DIR=./data/votify
OPENFY_VOTIFY_COOKIES_PATH=./data/votify/cookies.txt
OPENFY_VOTIFY_WVD_PATH=./data/votify/device.wvd
